header {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 60px;
  justify-content: space-between;
  padding: 0 10%;

  .radar-title, .buttons-group, #alternative-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
  }

  .input-sheet__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 150px;
      padding-top: 5px;
    }
  }

  .radar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    .radar-title__text {
      text-align: left;

      h2 {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: capitalize;
      }
    }

    .radar-title__logo {
      vertical-align: middle;

      a {
        border-bottom: none;
      }

      img {
        vertical-align: middle;
        width: 120px;
      }
    }
  }


  .quadrant-btn--group, .multiple-sheet-button-group {
    text-align: left;
  }

  .print-radar-btn, .search-box {
    margin-left: auto;
  }

  .buttons-group {
    padding: 15px 0 25px;
  }

  .home-link {
    color: $pink;
    margin-bottom: 10px;
    line-height: normal;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    text-align: left;
    width: 80%;
  }
}
